<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>451 Unavailable For Legal Reasons</title>
<link rel="stylesheet" href="/__status__/451/style.css">
</head>
<body>
  <div class="bokeh">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="content">
    <h1>451</h1>
    <h2>Unavailable For Legal Reasons</h2>
    <p class="message">This resource is unavailable due to legal reasons, such as a government censorship order.</p>
    <a href="/" class="button">Go Home</a>
  </div>
</body>
</html>
