<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>408 Request Timeout</title>
<link rel="stylesheet" href="/__status__/408/style.css">
</head>
<body>
  <div class="bokeh">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="content">
    <h1>408</h1>
    <h2>Request Timeout</h2>
    <p class="message">The server timed out waiting for your request to complete.</p>
    <a href="/" class="button">Retry</a>
  </div>
</body>
</html>
