<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>429 Too Many Requests</title>
<link rel="stylesheet" href="/__status__/429/style.css">
</head>
<body>
  <div class="bokeh">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="content">
    <h1>429</h1>
    <h2>Too Many Requests</h2>
    <p class="message">You have sent too many requests in a given amount of time. Please try again later.</p>
    <a href="/" class="button">Retry</a>
  </div>
</body>
</html>
